---
http_interactions:
- request:
    method: post
    uri: https://575ye157g9-dsn.algolia.net/1/indexes/shopify_products/query
    body:
      encoding: UTF-8
      string: '{"query":"PAS 2050:2011"}'
    headers:
      X-Algolia-Api-Key:
      - a057b4e74099445df2eddb7940828a10
      X-Algolia-Application-Id:
      - 575YE157G9
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"title":"Specification for the assessment of the life cycle
        greenhouse gas emissions of goods and services","updated_at":"2022-01-21T00:49:39.000Z","meta":{"global":{"descriptorsAlgoliaStringArray":["Pollutant
        gases","Exhaust gases","Life cycle","Emission","Carbon dioxide","Climatology","Atmosphere","Climate","Gases","Greenhouse
        gases","Air pollution","Pollution control","Environmental engineering"],"designatedStandard":"false","icsCodesAlgoliaStringArray":["13.020.40
        Pollution, pollution control and conservation"],"industriesAlgoliaStringArray":["Healthcare
        & Medical Devices"],"publishedDate":"2011-09-30","publisher":"BSI","status":"Current","statusNumeric":300,"primaryDesignator":"PAS
        2050:2011"},"group_search":{"description":"Specification for the assessment
        of the life cycle greenhouse gas emissions of goods and services","member_price":68,"price":68,"title":"PAS
        2050:2011"}},"handle":"specification-for-the-assessment-of-the-life-cycle-greenhouse-gas-emissions-of-goods-and-services","vendor":"BSI
        Shop","product_type":"fast-track-standard","template_suffix":"","id":6892183879845,"_tags":["id:6892183879845","indexing_token:538d7efe8267ff0e01067ee00dce1de1"],"tags":["format:digital","has-hardcopy","Ingestion-build-44616","Ingestion-build-48974","Ingestion-build-54484","Ingestion-build-58320"],"option_names":["title"],"variants_count":1,"variants_inventory_count":-300,"variants_min_price":68.0,"variants_max_price":68.0,"product_image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_961721e6-7c8d-45d8-a6d4-1863d304d53e.png?v=1625618031","created_at":"2021-07-07T01:33:48.000Z","published_at":"2021-07-07T01:33:48.000Z","body_html_safe":"","sku":"000000000030227173","barcode":null,"option1":"Digital","option2":null,"option3":null,"position":1,"requires_shipping":false,"taxable":true,"inventory_management":null,"inventory_policy":"deny","inventory_quantity":-301,"variant_title":"Digital","inventory_management_shopify":0,"inventory_available":false,"options":{"title":"Digital"},"price":68.0,"compare_at_price":0,"price_ratio":0,"price_range":"50:75","grams":0,"weight":"0.0lb","image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_961721e6-7c8d-45d8-a6d4-1863d304d53e.png?v=1625618031","named_tags":{},"named_tags_names":[],"recently_ordered_count":301,"objectID":"40309097070757","_snippetResult":{"body_html_safe":{"value":"","matchLevel":"none"}},"_highlightResult":{"title":{"value":"Specification
        for the assessment of the life cycle greenhouse gas emissions of goods and
        services","matchLevel":"none","matchedWords":[]},"meta":{"global":{"descriptorsAlgoliaStringArray":[{"value":"Pollutant
        gases","matchLevel":"none","matchedWords":[]},{"value":"Exhaust gases","matchLevel":"none","matchedWords":[]},{"value":"Life
        cycle","matchLevel":"none","matchedWords":[]},{"value":"Emission","matchLevel":"none","matchedWords":[]},{"value":"Carbon
        dioxide","matchLevel":"none","matchedWords":[]},{"value":"Climatology","matchLevel":"none","matchedWords":[]},{"value":"Atmosphere","matchLevel":"none","matchedWords":[]},{"value":"Climate","matchLevel":"none","matchedWords":[]},{"value":"Gases","matchLevel":"none","matchedWords":[]},{"value":"Greenhouse
        gases","matchLevel":"none","matchedWords":[]},{"value":"Air pollution","matchLevel":"none","matchedWords":[]},{"value":"Pollution
        control","matchLevel":"none","matchedWords":[]},{"value":"Environmental engineering","matchLevel":"none","matchedWords":[]}],"icsCodesAlgoliaStringArray":[{"value":"13.020.40
        Pollution, pollution control and conservation","matchLevel":"none","matchedWords":[]}],"industriesAlgoliaStringArray":[{"value":"Healthcare
        & Medical Devices","matchLevel":"none","matchedWords":[]}],"publisher":{"value":"BSI","matchLevel":"none","matchedWords":[]},"status":{"value":"Current","matchLevel":"none","matchedWords":[]},"primaryDesignator":{"value":"<em>PAS</em>
        <em>2050</em>:<em>2011</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["pas","2050","2011"]}}},"body_html_safe":{"value":"","matchLevel":"none","matchedWords":[]},"sku":{"value":"000000000030227173","matchLevel":"none","matchedWords":[]}}},{"title":"Assessment
        of life cycle greenhouse gas emissions - Supplementary requirements for the
        application of PAS 2050:2011 to seafood and other aquatic food products","updated_at":"2022-02-01T03:15:40.000Z","_tags":["id:7060716880037","indexing_token:0afc7cef1f716138316d0792b95eb926"],"hand[...]
- request:
    method: post
    uri: https://shop-bsi.myshopify.com/api/2021-04/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query RelatonBsi__Scrapper__Query__GetProducts($h0: String!)
        {\n  productByHandle(handle: $h0) {\n    ...RelatonBsi__Scrapper__Product__ProductFragment\n  }\n}\n\nfragment
        RelatonBsi__Scrapper__Product__ProductFragment on Product {\n  createdAt\n  publishedAt\n  updatedAt\n  productType\n  committee:
        metafield(namespace: \"global\", key: \"committee\") {\n    value\n  }\n  designated:
        metafield(namespace: \"global\", key: \"designatedStandard\") {\n    value\n  }\n  packContents:
        metafield(namespace: \"global\", key: \"packContents\") {\n    value\n  }\n  summary:
        metafield(namespace: \"global\", key: \"summary\") {\n    value\n  }\n  corrigendumHandle:
        metafield(namespace: \"global\", key: \"corrigendumHandle\") {\n    value\n  }\n  variants(first:
        250) {\n    edges {\n      node {\n        version: metafield(namespace: \"global\",
        key: \"version\") {\n          value\n        }\n        isbn: metafield(namespace:
        \"global\", key: \"isbn\") {\n          value\n        }\n      }\n    }\n  }\n  description\n}","variables":{"h0":"specification-for-the-assessment-of-the-life-cycle-greenhouse-gas-emissions-of-goods-and-services"},"operationName":"RelatonBsi__Scrapper__Query__GetProducts"}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Storefront-Access-Token:
      - c935c196c0b7d1d86bfb5139006cfd46
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '164'
      X-Sorting-Hat-Shopid:
      - '55553294501'
      X-Shopid:
      - '55553294501'
      X-Shardid:
      - '164'
      Content-Language:
      - en
      X-Shopify-Api-Version:
      - 2021-04
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/api/usage/versioning#deprecation-practices
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-west1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productByHandle":{"createdAt":"2021-07-07T00:33:48Z","publishedAt":"2021-07-07T00:33:51Z","updatedAt":"2022-01-21T00:49:39Z","productType":"fast-track-standard","committee":null,"designated":{"value":"false"},"packContents":null,"summary":null,"corrigendumHandle":null,"variants":{"edges":[{"node":{"version":{"value":"basic"},"isbn":{"value":"978
        0 580 71382 8"}}}]},"description":""}}}'
  recorded_at: Tue, 08 Feb 2022 16:49:41 GMT
recorded_with: VCR 6.0.0
