---
http_interactions:
- request:
    method: post
    uri: https://575ye157g9-dsn.algolia.net/1/indexes/shopify_products/query
    body:
      encoding: UTF-8
      string: '{"query":"PAS 2030:2019+C2:2021"}'
    headers:
      X-Algolia-Api-Key:
      - a057b4e74099445df2eddb7940828a10
      X-Algolia-Application-Id:
      - 575YE157G9
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"title":"Specification for the installation of energy efficiency
        measures in existing dwellings and insulation in residential park homes","updated_at":"2022-11-30T18:03:10.000Z","_tags":["id:7465434841253","indexing_token:26f763aa3e3a53e6d83ba79f7f999ad5"],"handle":"specification-for-the-installation-of-energy-efficiency-measures-in-existing-dwellings-and-insulation-in-residential-park-homes","vendor":"BSI
        Shop","product_type":"fast-track-standard","template_suffix":null,"sku":"000000000030451522","barcode":null,"position":1,"requires_shipping":false,"taxable":true,"inventory_quantity":-15,"option1":"Digital","option2":null,"option3":null,"id":7465434841253,"tags":["format:digital","has-hardcopy","Ingestion-build-58863"],"option_names":["title"],"variants_count":1,"variants_min_price":95.0,"variants_max_price":95.0,"variants_inventory_count":-15,"product_image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_f3130bff-b214-4164-925d-2e49fb4d9cf4.png?v=1643696405","published_at":"2022-02-01T06:20:03.000Z","body_html_safe":null,"variant_title":"Digital","inventory_policy":"deny","inventory_management":null,"inventory_management_shopify":0,"inventory_available":false,"options":{"title":"Digital"},"price":95.0,"compare_at_price":0,"price_ratio":0,"price_range":"75:100","grams":0,"weight":"0.0lb","image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_f3130bff-b214-4164-925d-2e49fb4d9cf4.png?v=1643696405","named_tags":{},"named_tags_names":[],"created_at":"2022-02-01T06:20:03.000Z","meta":{"global":{"descriptorsAlgoliaStringArray":["Energy
        consumption","Energy conversion (direct)","Energy economy","Energy sources","Energy
        technology"],"designatedStandard":"false","icsCodesAlgoliaStringArray":["91.120.10
        Thermal insulation of buildings","91.140.10 Central heating systems"],"industriesAlgoliaStringArray":["Construction
        & Building"],"modulesAlgoliaStringArray":["BSI_GBM48","BSI_GBM50"],"primaryDesignator":["PAS
        2030:2019+C2:2021","PAS2030:2019+C2:2021"],"publishedDate":"2019-05-01","publisher":"BSI","status":"Withdrawn","statusNumeric":100},"group_search":{"description":"Specification
        for the installation of energy efficiency measures in existing dwellings and
        insulation in residential park homes","member_price":95,"price":95,"title":"PAS
        2030:2019+C2:2021"}},"recently_ordered_count":8,"objectID":"41325058982053","_highlightResult":{"title":{"value":"Specification
        for the installation of energy efficiency measures in existing dwellings and
        insulation in residential park homes","matchLevel":"none","matchedWords":[]},"sku":{"value":"000000000030451522","matchLevel":"none","matchedWords":[]},"meta":{"global":{"descriptorsAlgoliaStringArray":[{"value":"Energy
        consumption","matchLevel":"none","matchedWords":[]},{"value":"Energy conversion
        (direct)","matchLevel":"none","matchedWords":[]},{"value":"Energy economy","matchLevel":"none","matchedWords":[]},{"value":"Energy
        sources","matchLevel":"none","matchedWords":[]},{"value":"Energy technology","matchLevel":"none","matchedWords":[]}],"icsCodesAlgoliaStringArray":[{"value":"91.120.10
        Thermal insulation of buildings","matchLevel":"none","matchedWords":[]},{"value":"91.140.10
        Central heating systems","matchLevel":"none","matchedWords":[]}],"industriesAlgoliaStringArray":[{"value":"Construction
        & Building","matchLevel":"none","matchedWords":[]}],"modulesAlgoliaStringArray":[{"value":"BSI_GBM48","matchLevel":"none","matchedWords":[]},{"value":"BSI_GBM50","matchLevel":"none","matchedWords":[]}],"primaryDesignator":[{"value":"<em>PAS
        2030</em>:<em>2019</em>+<em>C2</em>:<em>2021</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["pas","2030","2019","c2","2021"]},{"value":"<em>PAS2030</em>:<em>2019</em>+<em>C2</em>:<em>2021</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["pas","2030","2019","c2","2021"]}],"publisher":{"value":"BSI","matchLevel":"none","matchedWords":[]},"status":{"value":"Withdrawn","matchLevel":"none","matchedWords":[]}}}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"PAS
        2030:2019+C2:2021","params":"query=PAS+2030%3A2019%2BC2%3A2021&distinct=1&filters=NOT+tags%3Ahas-digital&filters=NOT+tags%3Anot-for-sale&filters=NOT+product_type%3Amembership","renderingContent":{},"processingTimeMS":1,"processingTimingsMS":{"fetch":{"total":1},"total":1}}'
  recorded_at: Sat, 03 Dec 2022 04:07:52 GMT
- request:
    method: post
    uri: https://shop-bsi.myshopify.com/api/2021-04/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query RelatonBsi__Scrapper__Query__GetProducts($h0: String!)
        {\n  productByHandle(handle: $h0) {\n    ...RelatonBsi__Scrapper__Product__ProductFragment\n  }\n}\n\nfragment
        RelatonBsi__Scrapper__Product__ProductFragment on Product {\n  createdAt\n  publishedAt\n  updatedAt\n  productType\n  committee:
        metafield(namespace: \"global\", key: \"committee\") {\n    value\n  }\n  designated:
        metafield(namespace: \"global\", key: \"designatedStandard\") {\n    value\n  }\n  packContents:
        metafield(namespace: \"global\", key: \"packContents\") {\n    value\n  }\n  summary:
        metafield(namespace: \"global\", key: \"summary\") {\n    value\n  }\n  corrigendumHandle:
        metafield(namespace: \"global\", key: \"corrigendumHandle\") {\n    value\n  }\n  variants(first:
        250) {\n    edges {\n      node {\n        version: metafield(namespace: \"global\",
        key: \"version\") {\n          value\n        }\n        isbn: metafield(namespace:
        \"global\", key: \"isbn\") {\n          value\n        }\n      }\n    }\n  }\n  description\n}","variables":{"h0":"specification-for-the-installation-of-energy-efficiency-measures-in-existing-dwellings-and-insulation-in-residential-park-homes"},"operationName":"RelatonBsi__Scrapper__Query__GetProducts"}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Storefront-Access-Token:
      - c935c196c0b7d1d86bfb5139006cfd46
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '164'
      X-Sorting-Hat-Shopid:
      - '55553294501'
      X-Shopid:
      - '55553294501'
      X-Shardid:
      - '164'
      Content-Language:
      - en
      X-Shopify-Api-Version:
      - 2022-01
      X-Shopify-Api-Version-Warning:
      - https://shopify.dev/concepts/about-apis/versioning
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/api/usage/versioning#deprecation-practices
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east4,gcp-us-central1,gcp-us-central1
      X-Storefront-Renderer-Verified:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productByHandle":{"createdAt":"2022-02-01T06:20:03Z","publishedAt":"2022-02-01T06:20:06Z","updatedAt":"2022-11-30T18:06:18Z","productType":"fast-track-standard","committee":{"value":"ZZ\/1"},"designated":{"value":"false"},"packContents":null,"summary":null,"corrigendumHandle":null,"variants":{"edges":[{"node":{"version":{"value":"basic"},"isbn":{"value":"978
        0 539 17945 3"}}}]},"description":""}}}'
  recorded_at: Sat, 03 Dec 2022 04:07:53 GMT
recorded_with: VCR 5.0.0
